In [509]:
import numpy as np

Datatypes and Attributes

In [510]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [511]:
type(a1)

numpy.ndarray

In [512]:
a2 = np.array([[1, 2.0, 3.3],
               [4, 5, 6.5]])
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [513]:
type(a2)

numpy.ndarray

In [514]:
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [515]:
a1.shape

(3,)

In [516]:
a2.shape

(2, 3)

In [517]:
a3.shape

(2, 3, 3)

In [518]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [519]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [520]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [521]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [522]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [523]:
import pandas as pd

In [524]:
df = pd.DataFrame(a2)

In [525]:
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

In [526]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [527]:
sample_array.dtype

dtype('int64')

In [528]:
ones = np.ones((2, 3))

In [529]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [530]:
ones.dtype

dtype('float64')

In [531]:
type(ones)

numpy.ndarray

In [532]:
zeros = np.zeros((2, 3))

In [533]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [534]:
range_array = np.arange(0, 10, 2)

In [535]:
range_array

array([0, 2, 4, 6, 8])

In [536]:
random_array = np.random.randint(0, 10, size=(3,5))

In [537]:
random_array

array([[4, 6, 8, 0, 6],
       [8, 7, 8, 5, 0],
       [1, 8, 4, 9, 6]])

In [538]:
random_array.size

15

In [539]:
random_array.shape

(3, 5)

In [540]:
np.random.random((5, 3))

array([[0.87759705, 0.08952686, 0.15970587],
       [0.40431679, 0.33437058, 0.44957863],
       [0.61185953, 0.70279548, 0.27516302],
       [0.04430594, 0.15315687, 0.99810767],
       [0.97101098, 0.06916945, 0.03940035]])

In [541]:
random_array.shape

(3, 5)

In [542]:
np.random.seed()

In [543]:
random_array_3 = np.random.rand(5, 3)

In [544]:
random_array_3

array([[0.28253535, 0.92248951, 0.5197279 ],
       [0.51576655, 0.32486834, 0.13826315],
       [0.68454012, 0.75145342, 0.24339927],
       [0.03763115, 0.34349661, 0.28211752],
       [0.31861117, 0.24689432, 0.43994998]])

In [545]:
random_array_3.size

15

In [546]:
random_array_3.shape

(5, 3)

In [547]:
type(random_array_3)

numpy.ndarray

In [548]:
# np.random.seed()
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[4, 4, 4],
       [4, 3, 9],
       [9, 9, 2],
       [7, 6, 0],
       [4, 5, 4]])

In [549]:
random_array_4.shape

(5, 3)

In [550]:
random_array_4.size

15

In [551]:
random_array_5 = np.random.random((5, 3))

In [552]:
random_array_5

array([[0.45598332, 0.11271032, 0.47836796],
       [0.41679404, 0.03351591, 0.79174594],
       [0.18922578, 0.67830384, 0.64633662],
       [0.76198662, 0.1343883 , 0.22217838],
       [0.50789636, 0.50916196, 0.81219058]])

In [553]:
random_array_5.shape

(5, 3)

In [554]:
random_array_5 = np.random.random((5, 3))

Viewing arrays

In [555]:
## viewing arrays and matrices

In [556]:
 np.unique(random_array_4)

array([0, 2, 3, 4, 5, 6, 7, 9])

In [557]:
random_array_99 = np.random.randint(999, size=(100,10))

In [558]:
random_array_99

array([[753, 964,  19, 208, 360, 134, 341, 302, 654,  68],
       [683,   4, 598, 481, 746, 819, 531, 542, 398, 271],
       [185, 307, 591, 211, 732,  11, 898, 555, 931, 137],
       [959, 238, 370, 235, 508, 618, 883, 405, 120, 346],
       [558, 270, 727, 357,  41, 930, 128, 811, 436, 606],
       [691, 208,  30, 530, 110, 553, 249, 429,  50, 506],
       [889, 776,  56, 914, 180, 877, 566, 297, 353, 857],
       [571, 207, 154,  32, 732,  50, 242, 164, 126, 253],
       [856, 901, 964, 964, 128, 261, 935, 382, 129, 466],
       [311, 789, 867, 803, 371, 811, 221, 398, 968, 298],
       [995, 321, 953, 562, 301, 103, 304, 926,  35, 873],
       [750, 199, 930, 371, 982, 850, 997,  20,  63,  65],
       [292, 931, 168, 326,  21, 553, 371, 569, 587, 710],
       [271, 367, 408, 256, 673, 746, 133,  97, 180, 132],
       [517, 137, 744, 224, 450, 637, 620, 924, 411, 705],
       [976, 228,  74, 398,  27, 701, 562, 202, 892, 110],
       [530, 403, 673, 318, 374, 378, 509, 924, 359, 684],
       [  2, 318, 919, 665, 325, 384, 620, 124, 981, 251],
       [902, 546, 204,  37, 520, 261, 193, 202, 318, 327],
       [383, 534, 351, 940, 229, 220, 535,  40,  30, 988],
       [316, 640, 826, 584, 564, 578,  53, 443, 702, 775],
       [645, 335, 857, 728, 990, 940, 459, 179, 877, 817],
       [ 60, 493, 727, 769, 655, 386,  11, 792, 178, 528],
       [633, 215, 139, 818, 584, 748, 250, 831, 666, 113],
       [ 36, 184, 977, 545, 153, 332, 945, 457, 458, 309],
       [ 34, 803, 248, 467, 979, 528, 713, 614, 486, 907],
       [220,  44, 989,  76, 776, 421,  93, 473, 666, 532],
       [574, 286, 633, 500, 799, 135, 370, 561, 285, 476],
       [730, 539,  40, 645, 942, 395, 434, 841, 945, 872],
       [245, 834, 628, 357, 469, 314, 217, 848, 703, 938],
       [713,  21, 669, 695, 315, 726, 125, 178, 533, 585],
       [240, 516, 635, 313, 151, 658, 443, 259, 402, 838],
       [371,  41, 824, 461, 203, 920, 568, 194, 344, 519],
       [323, 958,  57,  72, 479, 850, 282, 192, 714, 707],
       [339, 913, 659, 793, 695, 438, 988, 230, 475,  61],
       [221, 115, 417, 232,  70, 624, 820, 181, 640, 450],
       [368, 800, 858, 125, 528,  25, 784, 412, 806, 357],
       [497, 866, 656, 425, 716, 938, 746, 627, 144, 119],
       [962, 310, 544, 309, 522, 261,  72, 443,  56, 889],
       [779, 497,  28, 930, 292, 638, 413, 480,  17, 821],
       [796, 554, 183, 610, 288, 300, 467, 771, 373, 840],
       [331, 983, 862, 404, 897, 281, 812, 199, 846, 529],
       [273,  65, 387, 518, 261, 773, 613, 617, 924, 632],
       [980, 876, 462, 843, 216, 693, 806, 535, 511, 845],
       [896, 425,  10, 584, 921, 348,  14, 691, 406, 938],
       [705,  91, 707, 167, 909, 425, 682, 444, 786,  92],
       [197,  83, 881, 453, 569, 828, 766, 395, 156, 736],
       [890, 908, 758, 140, 557, 786, 978, 831,  82, 795],
       [676, 121, 971, 777, 519, 942, 705, 831,  21, 964],
       [931, 700, 861, 856,  19, 154, 386, 636, 368, 209],
       [477, 833,  70, 381, 876,  71, 688, 650, 166, 642],
       [246, 588, 709, 484, 454, 765, 459, 821, 442, 194],
       [364, 933, 102, 141, 715, 551,  13, 310, 341, 872],
       [563, 775,  81,  56, 215, 346, 701, 805,  14, 915],
       [901, 714, 944, 936, 687, 116, 351, 931, 341, 799],
       [372, 422, 452, 682, 674, 523, 609, 500, 317, 835],
       [702, 902, 535, 648, 914, 973,  95, 181, 858, 362],
       [256, 306, 797, 536, 760, 779, 368, 373, 228, 340],
       [337, 321, 309, 248, 579, 646, 149, 777, 725, 963],
       [205,  43, 193, 554, 596, 155, 515, 413, 910, 518],
       [864, 953, 437, 251, 100, 273, 945,  65, 194, 616],
       [887, 153, 780, 762, 424, 956, 149,  84, 583, 182],
       [392, 598, 270, 280, 764, 858, 572, 108, 579, 917],
       [678, 337, 660, 102, 432, 820, 876, 932, 608, 644],
       [ 58, 986, 590, 527, 581, 316, 779, 493, 225, 236],
       [930, 946, 235, 144, 218, 853, 213,  68, 234, 439],
       [436, 624, 509, 643, 504, 410, 677, 343, 513, 529],
       [ 54, 851, 865, 661, 799, 818, 955, 292, 653, 415],
       [612,  39, 399, 707, 561, 633, 967, 730,  46, 653],
       [250,  53, 194, 313, 181, 952,  63, 878, 952, 664],
       [731, 509, 816, 616, 452, 947, 693, 200, 644, 421],
       [400, 473, 553, 401, 746, 816, 302, 923, 401, 948],
       [406, 900, 455, 487, 298, 922, 610, 987, 204, 362],
       [ 66, 944, 725,  22,  49, 588, 577, 508, 393, 564],
       [ 85, 935, 259, 410, 259, 523, 330, 214,  43, 982],
       [558, 280, 258, 191, 468,  18, 196, 583, 491,  11],
       [393, 169, 427, 501,  39, 859,  87, 904, 413, 386],
       [711, 505, 697,  82, 585, 306,  91,  52, 290, 315],
       [886, 826, 466, 964, 274, 509, 192, 806, 513,  37],
       [369, 150, 498, 712, 350, 738, 664, 249, 663, 658],
       [126, 895, 886, 306, 191, 244, 852, 561,  87, 978],
       [739, 218, 661, 277, 598, 852, 318, 419,  99, 700],
       [557, 221, 340, 482, 326, 580, 973, 123, 543,  80],
       [  9, 694, 704, 485, 524, 512,  60, 681, 934, 465],
       [545,  16, 995, 284, 574, 627, 591, 224, 359, 596],
       [919,  26, 667, 633, 547, 673, 174, 866, 278, 891],
       [717, 740, 988, 441, 146, 396, 303,  11, 602, 220],
       [162, 288, 442, 472, 396, 127, 816, 971, 120, 546],
       [626, 599, 622, 287,  36, 205,  51, 221, 125, 598],
       [489, 979, 625, 718, 772, 282, 561, 147,  94,  45],
       [200,  49, 354,  58, 635, 705, 723, 450, 714, 136],
       [654, 905, 668, 454, 313, 666, 963, 232, 452, 320],
       [422, 425, 756, 281, 708, 724, 763, 797, 172, 989],
       [248, 815, 424,   3, 371, 996, 873, 574, 558, 251],
       [455, 170, 854, 745, 563, 479, 510, 846, 958, 899],
       [589, 399, 429,  92, 655, 947, 730, 761, 511, 580],
       [311, 915, 464, 912, 703, 666, 200, 247, 975, 645],
       [342,  84, 296, 524, 840, 894, 678, 672,   0, 211],
       [277,  49, 669, 961, 798, 566, 629, 573, 615, 798],
       [760, 687, 654,  59, 906, 882, 842, 737, 546,  51]])

In [559]:
np.unique(random_array_99())

TypeError: 'numpy.ndarray' object is not callable

In [560]:
np.unique([1,2,3,4,4,4,6])

array([1, 2, 3, 4, 6])

In [561]:
a1[0]

1

In [562]:
a3.shape

(2, 3, 3)

In [563]:
random_array_99.shape

(100, 10)

In [564]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [565]:
a2[1]

array([4. , 5. , 6.5])

In [566]:
 a4 = np.random.randint(10, size=(2,3,4,5))

In [567]:
a4

array([[[[0, 6, 0, 1, 6],
         [7, 3, 0, 3, 5],
         [3, 7, 8, 7, 9],
         [1, 3, 3, 0, 7]],

        [[3, 9, 6, 6, 9],
         [8, 9, 5, 5, 7],
         [5, 8, 2, 0, 8],
         [6, 7, 3, 3, 8]],

        [[6, 8, 2, 9, 1],
         [7, 2, 1, 8, 1],
         [5, 1, 3, 8, 1],
         [7, 4, 4, 5, 4]]],


       [[[6, 8, 1, 5, 4],
         [3, 7, 5, 9, 9],
         [8, 7, 4, 8, 1],
         [3, 2, 5, 7, 1]],

        [[2, 3, 4, 9, 4],
         [6, 7, 5, 2, 4],
         [5, 3, 2, 0, 2],
         [2, 0, 5, 3, 7]],

        [[0, 5, 5, 3, 9],
         [3, 1, 6, 4, 6],
         [0, 1, 8, 4, 9],
         [1, 3, 4, 6, 8]]]])

In [568]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [569]:
a4[:, :, :, :1]

array([[[[0],
         [7],
         [3],
         [1]],

        [[3],
         [8],
         [5],
         [6]],

        [[6],
         [7],
         [5],
         [7]]],


       [[[6],
         [3],
         [8],
         [3]],

        [[2],
         [6],
         [5],
         [2]],

        [[0],
         [3],
         [0],
         [1]]]])

In [570]:
#4. manipulating and comparing arrays

arithmetic

In [571]:
a1 + ones

array([[2., 3., 4.],
       [2., 3., 4.]])

In [572]:
ones = np.ones(3)

In [573]:
ones

array([1., 1., 1.])

In [574]:
a1 + ones

array([2., 3., 4.])

In [575]:
a1 - ones

array([0., 1., 2.])

In [576]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [577]:
a1

array([1, 2, 3])

In [578]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [579]:
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [580]:
np.reshape()

TypeError: _reshape_dispatcher() missing 2 required positional arguments: 'a' and 'newshape'

In [581]:
a1 / ones

array([1., 2., 3.])

In [582]:
a1 // a2

array([[1., 1., 0.],
       [0., 0., 0.]])

In [583]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [584]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

In [585]:
listy_list = [1,2,3]

In [586]:
type(listy_list)

list

In [587]:
sum(listy_list)

6

In [588]:
np.sum(a1)

6

In [594]:
massive_array = np.random.random(100000)

In [593]:
massive_array[:10]

array([8.44425111e-01, 7.02781465e-01, 6.58211990e-01, 1.66222802e-03,
       3.85199510e-02, 7.88458332e-01, 5.85235696e-01, 3.27076664e-04,
       1.52572846e-01, 6.46793991e-01])

In [591]:
%timeit sum(massive_array)
%timeit np.sum(massive_array)

14 ms ± 190 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
28.6 µs ± 665 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [595]:
np.min(a2)

1.0

In [596]:
np.var(a2)

3.3222222222222224